.Dictionary .search-bar {
  margin: 0 auto;
}

.Dictionary section {
  background: var(--light-background-color);
  padding: 25px;
  margin: 20px auto;
  max-width: 1005px;
  border-radius: 6px;
  box-shadow: var(--shadow);
}

.Dictionary .hints {
  color: var(--medium-text-color);
  font-size: 14px;
}
